.wrapper {
  overflow: hidden;
}
.wrapper .container {
  position: relative;
  z-index: 1;
}
.wrapper .container .upperElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper .container .lowerElements {
  margin-top: 12rem;
  display: flex;
}