@import '../../styles/contants.scss';

wrapper{
    background: white;

    .container{
        align-items: flex-start;
        gap: 2rem;
        flex-wrap: wrap;

        >div{
            flex: 1;
            
        }
    }
}